.modify-container {
    display: flex;
}


.midareapage {
    padding: 100px;
    display: flex;
}

label {
    width: 300px;
}

input {
    width: auto;
}

.content {
    padding-top: 20px;
  }

.toparea-update {
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
}

Button {
    padding-left: 20px;
}

.belowarea {
    display: flex;
}

.modify-page-btn{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
  }